---
import Layout from '../layouts/default.astro'
import Callouts from '../components/Callouts.astro'
import { Counter } from '../components/Counter.react'
---

<Layout title="Astro Party">
	<h1>Astro Party</h1>

	<p>
		Click this button for luck:
		<Counter client:visible />
	</p>
	
	<Callouts iconDescription='This is a test'>
		<p>This is a test</p>
	</Callouts>
</Layout>